body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #fff9f0;
}
a {
    color: #e67e22;
    
}
h2 {
    color: #e67e22;
    font-size: 2em;
    margin-top: 20px;
}
.logo {
    width: 300px; /* Ancho fijo */
    height: auto; /* Altura proporcional */
    display: block; /* Para centrarlo fácilmente */
    margin: 0 auto; /* Centra horizontalmente */
}